body{
    font-family: 'Roboto';
background-color: #fafafa;
margin: 0 auto;
}

header{
width: 100%;
height: 54px;
display: flex;
justify-content: center;
align-items: center;
position: fixed;
left: 0px;
top: 0px;
z-index: 3;
border: 1px solid #DBDBDB;
background-color: #FFFFFF;
}

.navbar{
    width: 935px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    
}

.navbar .logo{
    width: 144.63px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo ion-icon{
    font-size: 19.25px;
}

.logo .divisor{
    width: 1px;
    height: 22px;
    background-color: #DBDBDB;
}

.navbar nav{
    width: 140px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar input{
    width: 215px;
    height: 28px;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
}

.navbar ::placeholder{
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #979797;
}
.content{
    width: 935px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #fafafa;
    
}
.feed{
    width: 614px;
    height: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 54px;
    background-color: #fafafa;
}

.sidebar{
width: 291px;
height: 500px;
position: sticky;
top: 111px;
right: 0px;
}

.sidebar .primaryUser{
    width: auto;
    height: 56px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}

.primaryUser img{
    width: 56px;
    height: 56px;
    border-radius: 28px;
    margin-right: 17px;
    object-fit: cover;
}

.userBox{
    width: 150px;
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar h4{
    font-size: 14px;
    font-weight: 500;
    color: #262626;
}

.sidebar p{
    font-size: 14px;
    font-weight: 300;
    color: #8E8E8E;
}

.sidebar .suggestion{
width: 291px;
height: 15px;
margin-bottom: 17px;
display: flex;
justify-content: space-between;
}

.suggestion p:nth-child(1){
    font-size: 12px;
    font-weight: 500;
    color: #8E8E8E;
}

.suggestion p:nth-child(2){
    font-size: 12px;
    font-weight: 500;
    color: #262626;
}

.suggestionBox {
    width: 291px;
    height: 32px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suggestionBox h5{
    font-size: 12px;
    font-weight: 500;
    color: #139EF2;
}

.suggestionBox .suggestedUser{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.suggestedUser img{
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-right: 11px;
    object-fit: cover;
}

.sidebar .about{
    width: 291px;
    height: auto;
    display: flex;
    margin-bottom: 18px;
}

.about h6{
    font-size: 11px;
    font-weight: 400;
    color: #C7C7C7;
}

.about h6:hover{
    cursor: pointer;
}





.storyBox{
    width: 614px;
    height: 119px;
    margin-top: 34px;
    margin-bottom: 24px;
    padding-left: 18px;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    overflow:hidden;
}

.storyBox .user{
    width: 66px;
    height: 86px;
    margin-right: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.storyBox ion-icon{
    font-size: 26px;
position: absolute;
z-index: 2;
top: 127px;
color: #FFFFFF;
}

.storyBox .storiesBackground{
    width: 66px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.storyBox img:nth-child(1){
    width: 66px;
    height: 66px;
    border-radius: 33px;
    object-fit: cover;
    position: absolute;
}
.storyBox img:nth-child(2){
    width: 56px;
    height: 56px;
    border-radius: 28px;
    object-fit: cover;
    z-index: 1;
}

.storyBox h4{
    width: 66px;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    justify-content: space-around;
}


.post{
    width: 614px;
    height: auto;
    border: 1px solid #DBDBDB;
    
    border-radius: 3px;
    margin-bottom: 60px;
    background-color: #FFFFFF;

}

.post .top{
width: 614px;
height: 60px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;

display: flex;
justify-content: space-between;
align-items: center;
}

.post .user{
width: 173px;
height: auto;
display: flex;
justify-content: space-around;
align-items: center;
}

.post .info{
    width: 47px;
    height: auto;
    display: flex;
    justify-content: center;
}

.user img{
    width: 32px;
    height: 32px;
    border-radius: 16px;
    object-fit: cover;
}

.post .username {
    width: 110px;
    height: auto;
    font-size: 14px;
    font-weight: 500;
    color: #262626;
}

.post .conteudo{
    width: 612px;
    height: 612px;
    margin: 0px 1px;
    
}

.conteudo img{
    width: 612px;
    height: 612px;
    object-fit: cover;
}

.conteudo video{
    width: 612px;
    height: 612px;
    object-fit: cover;
}


.post .actions{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    

}

.actions .interactions {
    width: 123px;
    height: 42px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    

}

.actions .save{
    width: 47.62px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post .like {
width:auto;
height: 20px;
display: flex;
align-items: center;
margin-bottom: 13px;
}

.post h4{
    font-size: 14px;
    font-weight: 500;
    color: #000000;

}

.post h4:hover{
    cursor: pointer;
    text-decoration: underline;
}
.post h5{
    font-size: 14px;
    font-weight: 400;
    color: #8E8E8E;
}

.post h6{
    font-size: 8px;
    font-weight: 300;
    color: #8E8E8E;
}
.post p{
    font-size: 14px;
    font-weight: 300;
    color: #000000;
}

.like img{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    object-fit: cover;
    margin-left: 17px;
    margin-right: 5px;
}

.subtitle{
    width: 613px;
    height: auto;
    padding-left: 17px;
    margin-bottom: 10px;
    box-sizing: border-box;
    display: flex;
}

.comment-section{
    width: 613px;
    height: auto;
    padding-left: 17px;
    padding-right: 17px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.comment-section ion-icon{
    font-size: 12px;
    
}

.comment{
    width: 400;
    height: auto;
    display: flex;
    margin-bottom: 6px;
}

.add-comment{
width: 614px;
height: 40px;
margin-top: 20px;
padding-left: 17px;
padding-right: 17px;
box-sizing: border-box;
border-top: 1px solid #DBDBDB;
display: flex;
justify-content: space-between;
align-items: center;
}

.add-comment ion-icon{
    font-size: 24px
}

.add-comment h3{
    font-size: 14px;
    font-weight: 500;
    color: #B2DFFC;
}

.add-comment h3:hover{
    color: #0095f6;
    transition: 300ms;
    cursor: pointer;
}

.add-comment input{
    width: 474px;
    height: 18px;
    border: none;

}

.add-comment ::placeholder{
    font-size: 14px;
    font-weight: 500;
    color: #8E8E8E;
}

.bottomBar{
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0px;
    right: 0px;
    border: 1px solid #DBDBDB;
    background-color: #FFFFFF;
    display: none;
    
}
